body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 265px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: #080855;
    margin-top: 100px;
}

#display{
    padding: 5px;
    height: 50px;
    width: 250px;
    font-size: 18px;
    border: 2px solid;
    border-radius: 5px;
}

.buttons{
    display: grid;
    grid-template-columns: repeat(4,58px);
    grid-template-rows: repeat(5,30px);
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 20px;
}
button{
    font-size: 16px;
    font-weight: bold;
}